.Craft {
    display:auto;
    position: relative;
    width: 1180px;
    height: 700px;
    top: 80px;
    margin: auto;
    border-style: solid;
    background-color: #b6b6b6;
    //background-image: linear-gradient(19deg, #fddc21 0%, #f52828 33%, #8414a7 100%);
}
.CraftHide {
    display: none;
}